* {
    border: 1px solid black;
}

#win, #lose {
    padding: 1em;
    background-color: green;
}

.choice-button {
    width: 20%;
    padding: 1em;
}

.progress--step {
    padding: 1em;
    background-color: brown;
}


/*code needed in real runtime*/
/* .hidden { 
    display: none;
}
#quizcontent, #win, #lose { 
    display: none;
} */
